*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
:root{
    --bg-color: #ffffff;
    --second-bg-color: #dcdeff;
    --text-color: #000000;
    --second-color: #252525;
    --main-color: #29339B;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}
body{
    background-color: var(--bg-color);
    color: var(--text-color);
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 22px 15%;
    border-bottom: 1px solid transparent;
    transition: all .45 ease;
}
.logo{
    color: var(--text-color);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
}
span{
    color: var(--main-color);
}
.navlist{
    display: flex;
}
.navlist a{
    color: var(--second-color);
    font-size: 20px;
    font-weight: 500;
    margin: 0 25px;
    transition: all .45 ease;
}
.navlist a:hover{
    color: var(--main-color);
}
.navlist a.active{
    color: var(--main-color);
}
#menu-icon{
    font-size: 35px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}

section{
    padding: 160px 15% 120px;
}
.home{
    position: relative;
    height: 100vh;
    width: 100%;
    /* background-image: url(img/careerchoice.jpg); */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.slide{
    margin-bottom: 20px;
}
.one{
    display: inline-block;
    margin-right: 15px;
    height: 32px;
    padding: 0 15px;
    line-height: 32px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    background: var(--main-color);
    color: var(--text-color);
}
.two{
    display: inline-block;
    color: var(--second-color);
    font-size: 20px;
    font-weight: 500;
}
.home-text h1{
    font-size: var(--big-font);
    color: var(--second-color);
    font-weight: 700;
    color: var(--text-color);
    line-height: 1.1;
    margin: 0 0 8px;
}
.home-text h3{
    color: var(--text-color);
    margin: 0 0 35px;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.1;
}
.home-text p{
    color: var(--second-color);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.8;
    margin-top: 40px;
    margin-bottom: 40px;
}
.button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.btn{
    display: inline-block;
    padding: 12px 28px;
    background: var(--main-color);
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    transition: all .45 ease;
}
.btn:hover{
    transform: scale(0.9);
}

header.sticky{
    background: var(--bg-color);
    border-bottom: 1px solid #ffffff1a;
    padding: 12px 15%;
}

.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5;
}

.about-img img{
    max-width: 540px;
    height: 500px;
    object-fit: cover;
    width: 100%;
    border-radius: 8px;
}
.about-text h2{
    font-size: var(--h2-font);
    line-height: 1;
}
.about-text h4{
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
    line-height: 1.7;
    margin: 15px 0 30px;
}
.about-text p{
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 4rem;
}

.services{
    background: var(--second-bg-color);
}
.main-text{
    text-align: center;
}
.main-text p{
    color: var(--second-color);
    font-size: 15px;
    margin-bottom: 15px;
}
.main-text h2{
    font-size: var(--h2-font);
    line-height: 1;
}
.services-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
}
.box{
    background: var(--bg-color);
    padding: 35px 45px;
    border-radius: 8px;
    transition: all .45 ease;
}
.s-icons i{
    font-size: 32px;
    margin-bottom: 20px;
}
.box h3{
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 15px;
}
.box p{
    color: var(--second-color);
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 25px;
}
.read{
    display: inline-block;
    padding: 8px 18px;
    background: #cccccc;
    color: var(--second-color);
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
    transition: all .45 ease;
}
.read:hover{
    letter-spacing: 1px;
    background: #00000099;
    color: var(--text-color);
}
.box:hover{
    transform: translateY(-8px);
    cursor: pointer;
}



@media (max-width: 1480px){
    header{
        padding: 12px 2.5%;
        transition: .1s;
    }
    header.sticky{
        padding: 10px 2.5%;
        transition: .1s;;
    }
    section{
        padding: 110px 3% 60px;
    }
    .end{
        padding: 15px 3%;
    }
}

@media (max-width: 1100px){
    :root{
        --big-font: 4rem;
        --h2-font: 4rem;
        --p-font: 1rem;
        transition: .1s;
    }
    .home-text h3{
        font-size: 2.5rem;
    }
    .home{
        height: 87vh;
    }
}

@media (max-width: 920px){
    .about{
        grid-template-columns: 1fr;
    }
    .about-img{
        text-align: center;
        order: 2;
    }
    .about-img img{
        width: 100%;
        height: auto;
        max-width: 100;
    }
}

@media (max-width: 840px){
    #menu-icon{
        display: block;
    }
    .navlist{
        position: absolute;
        top: -1000px;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        text-align: left;
        transition: all .45s ease;
    }
    .navlist a{
        display: block;
        margin: 17px;
        font-size: 20px;
        transition: all .45s ease;
        color: var(--text-color);
    }
    .navlist a:hover{
        color: var(--text-color);
    }
    .navlist a.active{
        color: var(--main-color);
    }
    .navlist.open{
        top: 100%;
    }
}


footer {
    background: #000;
    font-family: 'Montserrat', sans-serif;
    padding-top: 40px;
    color: #fff;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  
  .footer-content h3 {
    letter-spacing: 1px;
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 3rem;
  }
  span{
    font-weight: 700;
  }
  
  .footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
  }
  
  .socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
  }
  
  .socials li {
    margin: 0 10px;
  }
  
  .socials a {
    text-decoration: none;
    color: #fff;
  }
  
  .socials a i {
    font-size: 1.1rem;
    transition: color .4s ease;
  }
  
  .socials a:hover i {
    color: var(--main-color);
  }

  


  .universities {
    padding: 160px 15% 120px;
    background-color: #f8f8f8;
    text-align: center;
  }
  
  .universities .main-text p {
    font-size: 15px;
    margin-bottom: 15px;
    color: #777777;
  }
  
  .universities .main-text h2 {
    font-size: 3rem;
    line-height: 1;
  }
  
  .universities-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    margin-top: 5rem;
  }
  
  .universities .row {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .universities .row img {
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
  }
  
  .universities .layer {
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), #ff004f);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
  }
  
  .universities .layer h5 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  .universities .layer p {
    color: #555555;
    font-size: 1rem;
    line-height: 1.8;
  }
  
  .universities .layer i {
    color: #29339b;
    margin-top: 20px;
    font-size: 20px;
    background: #ffffff;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  
  .universities .row:hover img {
    transform: scale(1.1);
  }
  
  .universities .row:hover .layer {
    height: 100%;
  }
  
  /* Hide universities based on data-filter attribute when filters are applied */
  .universities .row[data-filter*="private"][data-filter*="north"][data-filter*="east"],
  .universities .row[data-filter*="public"][data-filter*="north"][data-filter*="east"] {
    display: none;
  }
  
  /* Reset display for matching universities when multiple filters are selected */
  .universities .row[data-filter*="private"][data-filter*="north"][data-filter*="east"],
  .universities .row[data-filter*="public"][data-filter*="north"][data-filter*="east"] {
    display: block;
  }

  .introduction{
    margin-top: 1rem;
    text-align: center;
  }
  .introduction h3{
    color: var(--text-color);
    margin: 0 0 35px;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.1;
  }
  .introduction p{
    text-align: justify;
    color: var(--second-color);
    font-size: var(--p-font);
    font-weight: 500;
    line-height: 1.8;
    margin-bottom: 15px;
  }
  
  .university-page {
    margin-top: 0px; /* Puedes ajustar el valor negativo para cambiar la distancia */
    padding-top: 0;
  }

.uni-filter{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.5rem;
    margin-top: 1rem !important;
    flex-wrap: wrap;
    max-width: 1400px; /* Adjust the max-width based on your design */
    /* margin: 0 auto; */
}

.uni-filter span {
    font-size: 0.9rem;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--second-bg-color);
    margin-bottom: 0.2rem;
  }

.filter-item{
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    margin-bottom: 5px;
}

.active-filter{
    background: var(--second-color);
    color: var(--bg-color);
    padding: 4px 10px;
    border-radius: 4px;
}

.universities-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem; /* Adjust the margin-top to separate filter buttons and universities */
  }
  
.row{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}
.row img{
    width: 600px; /* Adjust the width based on your desired size */
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.7), #29339b);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
}
.layer h5{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
.layer p{
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.8;
}
.layer i{
    color: #fff;
    margin-top: 20px;
    font-size: 20px;
    background: var(--text-color);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.row:hover img{
    transform: scale(1.1);
}
.row:hover .layer{
    height: 100%;
}



.title{
    margin-top: 3rem;
    text-align: center;
    margin-bottom: 15px;
  }
.title h1{
    font-size: 3rem;
    font-weight: 700;
}
.title p{
    font-size: 2rem;
    font-weight: 400;
}
.container {
    margin-top: 100px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.question-box {
    background: #f7f7f7;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.question-box p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 10px;
}
input[type="radio"] {
    /* Hide the default radio buttons */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid var(--main-color); /* Change the border color to your desired color */
    border-radius: 50%;
    margin-right: 8px;
    position: relative;
    top: 6px;
    outline: none;
    cursor: pointer;
}

/* When the radio button is checked, apply a background color */
input[type="radio"]:checked {
    background-color: var(--main-color); /* Change the background color to your desired color */
}

/* Custom checkbox labels */
input[type="radio"] + label {
    cursor: pointer;
}

/* Optional: Add padding to the options to create separation */
label {
    padding-left: 7px;
}

/* Optional: Add margin to the questions to create visual separation */
.question-box {
    margin-bottom: 20px;
}


button {
    margin-top: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px 28px;
    background: var(--main-color);
    border: none; /* Remove the border */
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    transition: all .45s ease;
    box-shadow: none; /* Remove the shadow */
}

button:hover{
    transform: scale(0.9);
}

#resultado {
    margin-top: 20px;
    font-size: 2rem;
    font-weight: bold;
}

